
<!-- content -->
<br>
<!-- portfolio section -->
<section id="portfolio" class="info-box">
    <div class="container">
        <!-- portfolio filter
        <ul class="portfolio-filter list-inline text-center">
            <li><a href="#" data-group="all" class="active">ALL</a></li>
            <li><a href="#" data-group="graphic-design">GRAPHIC DESIGN</a></li>
            <li><a href="#" data-group="branding">BRANDING</a></li>
            <li><a href="#" data-group="logo-design">LOGO DESIGN</a></li>
            <li><a href="#" data-group="illustration">ILLUSTRATION</a></li>
        </ul> end portfolio filter -->
        <br>
        <ul class="row portfolio list-unstyled lightbox" id="grid">
            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["illustration"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/wed_1.1.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                       <!--  <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a> -->
                        <a href="images/wed_1.1.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details
                    <div class="project-details">
                        <h5 class="project-title">TRAN WEDDING</h5>
                        <p class="skill">PRE NUPTIAL PHOTOGRAPHY</p>
                    </div> project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["branding"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/wed_2.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <!-- <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a> -->
                        <a href="images/wed_2.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details
                    <div class="project-details">
                        <h5 class="project-title">TRAN WEDDING</h5>
                        <p class="skill">POST NUPTIAL PHOTOGRAPHY</p>
                    </div> project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["logo-design"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/wed_4.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <!-- <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a> -->
                        <a href="images/wed_4.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details
                    <div class="project-details">
                        <h5 class="project-title">MCCAFREY WEDDING</h5>
                        <p class="skill">PRE NUPTIAL PHOTOGRAPHY</p>
                    </div> project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["illustration", "logo-design", "branding"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/wed_3.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <!-- <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a> -->
                        <a href="images/wed_3.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details
                    <div class="project-details">
                        <h5 class="project-title">TRAN WEDDING</h5>
                        <p class="skill">PRE NUPTIAL PHOTOGRAPHY</p>
                    </div> project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["graphic-design", "logo-design", "branding"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/wed_6.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="images/wed_6.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details
                    <div class="project-details">
                        <h5 class="project-title">PROJECT TITLE</h5>
                        <p class="skill">SKILLS</p>
                    </div> project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["branding"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/wed_8.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <!-- <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a> -->
                        <a href="images/wed_8.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details
                    <div class="project-details">
                        <h5 class="project-title">PROJECT TITLE</h5>
                        <p class="skill">SKILLS</p>
                    </div> project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["graphic-design", "branding"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/wed_12.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <!-- <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a> -->
                        <a href="images/wed_12.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details
                    <div class="project-details">
                        <h5 class="project-title">PROJECT TITLE</h5>
                        <p class="skill">SKILLS</p>
                    </div> project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["illustration", "logo-design"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/wed_10.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <!-- <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a> -->
                        <a href="images/wed_10.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details
                    <div class="project-details">
                        <h5 class="project-title">PROJECT TITLE</h5>
                        <p class="skill">SKILLS</p>
                    </div> project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["branding"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/wed_9.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <!-- <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a> -->
                        <a href="images/wed_9.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details
                    <div class="project-details">
                        <h5 class="project-title">PROJECT TITLE</h5>
                        <p class="skill">SKILLS</p>
                    </div> project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["graphic-design", "branding"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/wed_7.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <!-- <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a> -->
                        <a href="images/wed_7.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details
                    <div class="project-details">
                        <h5 class="project-title">PROJECT TITLE</h5>
                        <p class="skill">SKILLS</p>
                    </div> project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["logo-design", "branding"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/wed_14.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <!-- <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a> -->
                        <a href="images/wed_14.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details
                    <div class="project-details">
                        <h5 class="project-title">MCCAFREY WEDDING</h5>
                        <p class="skill">CEREMONY</p>
                    </div> project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["illustration"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/wed_15.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                      <!--   <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a> -->
                        <a href="images/wed_15.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details
                    <div class="project-details">
                        <h5 class="project-title">TRAN WEDDING</h5>
                        <p class="skill">CEREMONY</p>
                    </div> project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- sizer -->
            <li class="col-xs-6 col-md-4 shuffle_sizer"></li>      
        </ul> <!-- / projects -->
    </div><!-- / container -->

</section>
<!-- / portfolio section -->

<!-- blog section 3col -->
<section id="blog-small">
    <div class="container">
        <div class="page-header no-margin text-center">
            <h2>PRIVATE: BLOG</h2>
        </div>
        <!-- <p class="text-center">Sed imperdiet vitae ipsum a tincidunt. Vivamus id ligula turpis. Duis viverra arcu quis.</p> -->
        <div class="row">

        <% @posts.each do |post| %>
            <!-- post-block -->
            <div class="col-sm-4">
                <div class="post-block">
                    <a href="/posts/<%=post.id%>"><img src="images/post-img.jpg" alt=""></a>
                    <div class="small-post-text">
                        <h5><a href="/posts/<%=post.id%>"><%= post.title %></a></h5>
                        <p class="small-post-meta"><%= post.date %></p>
                        <p class="space-bottom"><%= post.body %></p>
                        <p class="small-post-footer">
                            <a href="/posts/<%=post.id%>">READ MORE</a>
                            <span class="post-icons pull-right">
                                <a href="#x"><i class="lnr lnr-thumbs-up"></i></a>
                                <a href="#x"><i class="lnr lnr-bubble"></i></a>
                            </span>
                        </p>
                    </div><!-- / small-post-text -->
                </div><!-- / post-block -->
            </div><!-- / col-md-4 -->
            <% end %>
            <!-- / post-block -->

        </div><!-- / row -->

    </div><!-- / container -->
</section>
<!-- / blog section 3col -->

<!-- / content