
<div id="page-content" class="container">
    <div class="row">
        <div class="page-header no-margin text-left">
         <h2>Say Hello!</h2>
        </div>
        <br>
        <%= form_for @contact do |f| %>
        <div class="col-sm-6 contact-form-area">
        <div id="contact-form">
                        <form id="contactForm" data-toggle="validator">
                            <div class="form-group">
                                <%= f.label :name %>
                                <%= f.text_field :name, required: true %>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <%= f.label :email %>
                                <%= f.email_field :email, required: true %>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <%= f.label :message %>
                                <%= f.text_area :message, as: :text %>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="hidden">
                                <%= f.label :nickname %>
                                <%= f.text_field :nickname, hint: 'leave this field blank' %>
                            </div>

                            <button type="submit" id="form-submit" class="btn btn-md btn-primary-filled btn-form-submit"><%= f.submit 'SUBMIT FORM' %></button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>  
                        </form>
                    </div><!-- / contact form 1col -->
                </div>
        <% end %>
</div>
</div>
